   .path_line {
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            animation-name: line;
        }

        @keyframes line {
            100% {
                stroke-dashoffset: 0;
            }
        }